@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

body{
	font-family: 'Montserrat', sans-serif;
}

.banner-section .row{
position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-130px);
    left: 117px;
}
.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    font-size: 22px;
    font-weight: 600;
    color: #333;
}
.navbar-nav .nav-link{
	color: #333;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
} 
.banner-section h1{
	font-weight: 600;
}
.skill-section h2{
	font-size: 22px;
    font-weight: 300;
}
.skill-section h2 strong{
	font-weight: 600;}
.common-margin{
	margin-bottom: 30px;
}